# Build
build
.setvars.sh

# Fortran module files
*.mod

# Compiled libraries
*.so

# Executables
bin

# Distribution / packaging
__pycache__
.Python
env/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg