# Precompiling tools
.setvars.sh

# Compiled Object files
obj
*.obj

# Fortran module files
*.mod

# Compiled libraries
*.so

# Executables
bin
*.exe

# Distribution / packaging
bin/
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg